
# Environment variables
.env

# Node modules
node_modules

# Build output
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Drizzle migrations
/migrations/*.new.sql

# Android
android/.gradle/
android/local.properties
android/**/build/
android/**/.cxx/
android/captures/
android/*.iml
android/.idea/
*.apk
*.aab
*.ap_
*.dex

.DS_Store
**/.DS_Store
